.voting-variant
  display: flex
  flex-direction: column
  height: 30em
  width: 5em
  align-items: center
  justify-content: flex-end
  padding: 1em

.voting-variant__column
  display: flex
  width: 5em
  color: #FFFFFF
  background-color: #1976D2
  margin: 1em

.voting-variant__vote
  display: flex
  font-weight: bold
  font-size: 1.4em

.voting-variant__name
  display: flex
